html * { 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
    -moz-box-sizing: border-box;
    font-family: VAG Rounded, sans-serif;
    margin: 0 auto;
    text-align: left;
    color: #9A9788;
    /*color palette credit: http://www.colourlovers.com/palette/1677067/Look_Professional */
}

body {
    margin: 0 auto;
    padding: 1em;
    font-family: VAG Rounded, sans-serif;
    background-color: #FFFCF7;
}

h1 {
    text-align: center;
    color: #BA7E6E;
}

p {
    color: #696C73;
    padding: 0.5em;
}

img {
    padding: 0.5em;
}

.div_1 {
    background-color: #FF9E9D;
    font-size: 2em;
}

.div-later {
    font-size: 0.7em;
}

#div2 {
    background-color: #DAD8A7;
}

#div3 {
    background-color: #FF3D7F;
}

.hover-bold:hover {
    font-weight: bold;
}


.covered {
    width  : 800px;
    height : 470px;
    border : 30px solid #FFF;
    margin : 50px auto;
    background-image: url('atlanticsunrise.JPG');
    box-shadow : 0 0 40px 5px rgba(0,0,0,.4);
}

.covered .changeable {
    background-image: url('atlanticmoonrise.JPG');
}

.covered {
    position: relative;
}

.handle {
    position: absolute;
    width : 46px;
    height: 46px;
    margin-left  : -23px;
    margin-top   : -23px;
    border-radius: 50%;
    background-color: #fff;
    text-align : center;
}

.handle span {
    display : inline-block;
    margin : 15px 1px 0;
    color : #000;
    transition : .1s ease-out;
}

.handle.vertical {
    transform : rotate(90deg);
}

.handle:hover {
    background-color: #555;
}

.handle:hover span {
    color : #FFF;
}

.draggable {
    background-color: #555;
    cursor : move;
}

.draggable span {
    margin : 15px 4px 0;
    color  : #FFF;
    transition : .1s ease-out;
}


footer {
    width: 100%; 
    position: absolute; /* sticky footer */
    bottom:0px; 
    padding:2px;
    background-color: #BA7E6E; 
    text-align:center; 
    font-family: Verdana; 
    color: #1F233E;
}
