html * { 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
    -moz-box-sizing: border-box;
    font-family: VAG Rounded, sans-serif;
    margin: 0 auto;
    text-align: left;
    color: #9A9788;
    /*color palette credit: http://www.colourlovers.com/palette/1677067/Look_Professional */
}

body {
    margin: 0 auto;
    font-family: VAG Rounded, sans-serif;
    background-color: #FFFCF7;
}

form {
    padding: 0.5em;
}

h1 {
    text-align: center;
    color: #BA7E6E;
}

p {
    color: #696C73;
    padding: 0.5em;
}

img {
    padding: 0.5em;
}

