html * { 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
    -moz-box-sizing: border-box;
    font-family: VAG Rounded, sans-serif;
    margin: 0 auto;
    text-align: left;
    color: #9A9788;
    /*color palette credit: http://www.colourlovers.com/palette/1677067/Look_Professional */
}

body {
    margin: 0 auto;
    padding: 0.5em;
    font-family: VAG Rounded, sans-serif;
    background-color: #FFFCF7;
}

h1 {
    text-align: center;
    color: #BA7E6E;
}

p {
    color: #696C73;
}

.div_1 {
    background-color: #FF9E9D;
    font-size: 2em;
}

.div-later {
    font-size: 0.7em;
}

#div2 {
    background-color: #DAD8A7;
}

#div3 {
    background-color: #FF3D7F;
}

.hover-bold:hover {
    font-weight: bold;
}

footer {
    width: 100%; 
    position: absolute; /* sticky footer */
    bottom:0px; 
    padding:2px;
    background-color: #BA7E6E; 
    text-align:center; 
    font-family: Verdana; 
    color: #1F233E;
}
